.text-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.6em;
}

.text-field {
	width: 100%;
	min-height: 8em;
	background: transparent;
	color: white;
	font-size: 0.7em;
	outline: none;
	border: none;
	border-bottom: 2px solid white;
	overflow: hidden;
	resize: none;
}
